.modules {
  &__personal-link {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
      position: relative;
      margin-top: 24px;

      div:nth-child(2) {
        position: absolute;
        bottom: -7px;
        left: 15px;
      }
    }
  }
}
